<h2>There are <span><%= Contact.all.count %></span> contacts</h2>

<ul class="contacts_listing">
<% Contact.all.each do |contact| %>
  <li class="contact_detail"><a href="/contacts/<%= contact.id %>"</a> <%= contact.first_name %> <%= contact.last_name %> (<%=contact.email%>) </li>
  <li class="contact_mods"><a href="/contacts/<%= contact.id %>/edit">Edit</a></li>
  <li class="contact_mods" id="contact_delete"><a href="/contacts/<%= contact.id %>">Delete</a></li>
<% end %>
</ul>
